menu "LPC31xx Implementations"
	depends on ARCH_LPC31XX

choice
	prompt "LPC31xx Platform type"
	default MACH_EA313X

config MACH_EA313X
	bool "ea313x board"
	help
	  Say Y here if you are using the Embedded Artist's EA313x board

config MACH_EA3152
	bool "ea3152 board"
	select LPC3152_AD
	help
	  Say Y here if you are using Embedded Artist's EA3152 board
	  
endchoice

config LPC3152_AD
	bool

source "kernel/Kconfig.hz"

endmenu
