/*
 * lpc3131.dtsi - Device Tree Include file for LPC31xx family SoC
 *
 *  Copyright (C) 2011 Jon Smirl <jonsmirl@gmail.com>
 *
 * Licensed under GPLv2.
 */

/include/ "lpc3130.dtsi"

/ {
	model = "NXP LPC3131 SoC";
	compatible = "nxp,lpc3131", "nxp,lpc3130";

	isram1: memory@11040000 {
		reg = <0x11040000 0x18000>;
		interrupts = <29>;
	};
};
